# Kickstart for provisioning a RHEL 6 Cloud Base Image
install

cdrom

# System authorization information
auth --enableshadow --passalgo=sha512

# Use text install
text

# Do not run the Setup Agent on first boot
firstboot --disable

# Keyboard layouts
keyboard us

# System language
lang en_US.UTF-8

# Network information
network  --onboot yes --device eth0 --bootproto=dhcp

# Root password
rootpw --plaintext "to_be_disabled"

# System timezone
timezone --utc Etc/UTC

# Partition clearing information
clearpart --all

# Clear the MBR
zerombr

# Disk partitioning information
# For some reason Azure uses a separate /boot partition
part /boot --fstype="ext4" --size=500 --asprimary
part / --fstype="ext4" --size=1 --grow --asprimary

# System bootloader configuration
bootloader --location=mbr

# Firewall configuration
firewall --enabled --ssh

# Enable SELinux
selinux --enforcing

# Don't configure X
skipx

# Reboot the machine after install
reboot --eject

# Install packages
%packages
#authconfig

# This package is needed for Packer to work with the Hyper-V Builder
# We will remove it later
hyperv-daemons

# This package is needed for Ansible
libselinux-python

#openssh-clients
#python-rhsm
#redhat-lsb-core
#system-config-firewall-base
%end

