# Kickstart for provisioning a RHEL 6 Cloud Base Image
install

cdrom

# System authorization information
auth --enableshadow --passalgo=sha512

# Use text install
text

# Do not run the Setup Agent on first boot
firstboot --disable

# Keyboard layouts
keyboard us

# System language
lang en_US.UTF-8

# Network information
network  --onboot yes --device eth0 --bootproto=dhcp --noipv6

# Root password
rootpw --plaintext "to_be_disabled"

# System timezone
timezone --utc Etc/UTC

# Partition clearing information
clearpart --all

# Clear the MBR
zerombr

# Disk partitioning information
part / --fstype="ext4" --size=1 --grow --asprimary

# System bootloader configuration
bootloader --location=mbr --append="crashkernel=auto"

# Firewall configuration
firewall --enabled --ssh

# Enable SELinux
selinux --enforcing

# Don't configure X
skipx

# Reboot the machine after install
reboot --eject

# Enable services at boot
services --enabled sshd,ntpd

# Install packages
%packages --nobase
@Core
@Base --nodefaults
@server-policy
acpid
authconfig
gdisk
kpartx
libselinux-python
libsemanage-python
net-tools
ntp
openssh-clients
parted
policycoreutils-python
python-rhsm
redhat-lsb-core
rsync
system-config-firewall-base
vim
-aic94xx-firmware
-atmel-firmware
-b43-openfwwf
-bfa-firmware
-ipw*-firmware
-ivtv-firmware
-iwl*-firmware
-libertas-usb8388-firmware
-netxen-firmware
-ql*-firmware
-rt*-firmware
-xorg-x11-drv-ati-firmware
-zd1211-firmware
%end

